{% if is_granted('ROLE_USER') %}
    {{ form_start(form) }}
    <div class="form-floating mb-3">
        {{ form_widget(form) }}
    </div>
    <button class="btn btn-primary">
    <span class="me-2">
        <i class="fas fa-paper-plane"></i>
      </span>
    <span class="fw-bold">Envoyer</span>
    </button>
    {{ form_end(form) }}
{% endif %}
