@import "~bootstrap/scss/bootstrap";

.navbar, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Cabin","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}



#cover {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url(../img/homepage/cover.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.degrade {
  background-image: linear-gradient(135deg, rgba(25, 25, 112, 0.8), rgba(112, 112, 112, 0.8));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

