{% extends 'base.html.twig' %}
{% block body %}
    <div class="container mt-5">
        <div class="col">
            <div class="card shadow-sm">
                {% include 'trick/_card.html.twig' %}
                <div class="justify-content-center d-flex">
                    <hr class="w-75">
                </div>
                    {% include 'comment/index.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

