<p>Bonjour {{ user.username }}</p>
<p> Pour la demande de réinitialisation de votre mot de passe, veuillez cliquer sur le lien suivant : <a href="{{ resetPasswordUrl }}"> {{ resetPasswordUrl }}</a> </p>
